@use "./utilities" as *;
@use "./global" as *;

// Header Section
@mixin shows-tablet-header {
  height: 28.75rem;
  // position: unset;

  &__sub-title {
    padding-left: 1rem;
    font-size: 3vw;
  }
  &__main-title {
    padding-left: 1rem;
    line-height: 70px;
    font-size: 6.5vw;
    width: 70%;
  }

  &__iframe {
    // position: unset;
    // box-sizing: content-box;
    padding-left: 1rem;
    margin-top: 20px;
    width: 46%;
    height: 150px;
  }
}

@mixin shows-desktop-header {
  &__sub-title {
    padding-top: 6.25rem;
  }

  &__sub-title,
  &__main-title {
    padding-left: 7.5rem;
  }

  &__sub-title {
    font-size: 2vw;
  }

  &__main-title {
    font-size: 5vw;
    line-height: 65px;
    width: 55%;
  }
  &__iframe {
    position: absolute;
    top: 27%;
    right: 145px;
    // right: 10.5%;
    padding-left: 7.5rem;
    width: 40%;
  }
}

// Shows Table Section
@mixin shows-tablet-shows {
  &__container {
    flex-direction: column;
  }

  &__show {
    box-sizing: border-box;
    display: flex;
    // padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 1rem;

    &--row-width {
      height: 150px;
    }
  }

  &__title {
    font-size: 3vw;
    padding: 2rem 2rem;
  }

  &__dates-container {
    display: flex;
    flex-direction: column;
  }

  &__show-date {
    width: 30%;
    padding-top: 0;
    // width: 15rem;
  }

  &__show-venue {
    padding-left: 2rem;
  }

  &__show-location,
  &__show-venue {
    width: 25%;
  }

  &__sub-header-date,
  &__sub-header-venue,
  &__sub-header-location {
    font-size: 2vw;
    padding-bottom: 40px;
    // padding-left: 1.75rem;
  }

  &__spec-date,
  &__show-info-venue,
  &__show-info-city {
    font-size: 2vw;
    // padding: 2.25rem 0 0 0;
  }

  &__spec-date {
    font-size: 2.5vw;
    // margin-left: 1.25rem;
  }

  &__ticket-btn {
    box-sizing: border-box;
    font-size: 2vw;
    letter-spacing: 0.5px;
    // padding: 0.25rem 2rem;
    height: 50%;
    padding: 0 1rem;
    margin-top: 20px;

    &--first {
      height: 34%;
      margin-top: 65px;
    }
  }

  &__hidden {
    display: none;
  }

  &__margin {
    margin-top: 1.25rem;
  }
}

@mixin shows-deskop-shows {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__margin {
    margin-top: 0.31rem;
  }
  &__title {
    // font-size: 3.75vw;
    font-size: 1.5vw;
    width: 13%;
    text-align: center;
    margin-left: 4rem;
    margin-right: 3rem;
  }

  &__dates-container {
    margin-top: 4.3rem;
    width: 70%;
  }

  &__sub-header-date,
  &__sub-header-venue,
  &__sub-header-location {
    font-size: 1vw;
    padding-bottom: 2rem;
    // padding-bottom: 4rem;
  }
  &__spec-date {
    width: 90%;
  }

  &__spec-date,
  &__show-info-venue,
  &__show-info-city {
    font-size: 1vw;
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__ticket-btn {
    font-size: 1.25vw;
    width: 200px;
  }
}
