// Color Schemes

// Primary
$BandSite-Black: #323232;
$silver: #afafaf;
$white: #fff;

// Secondary
$BandSite-DarkBlack: #000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
