* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header__flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #323232;
  width: 100%;
  font-weight: normal;
}
.header__title-container {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.header__logo {
  width: 120px;
}
.header__menu {
  display: flex;
}
.header__link {
  color: #e1e1e1;
  width: 50%;
  text-align: center;
  padding: 1rem;
}
.header__link:hover {
  border-bottom: 4px solid #fff;
  color: #fff;
}
.header__link--active {
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #fff;
}
.header__link-text {
  color: #e1e1e1;
}
.header__link-text--active {
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }
  .header__title-container {
    padding: 2rem 2.25rem;
    width: initial;
  }
  .header__logo {
    width: 120px;
  }
  .header__link {
    padding: 2rem;
  }
  .header__link--active {
    box-sizing: content-box;
    padding: 2rem;
  }
  .header__link, .header__link--active {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .header__title-container {
    padding: 2.25rem 2.25rem 2.25rem 8.75rem;
  }
  .header__link--active {
    text-align: center;
  }
  .header__link, .header__link--active {
    font-size: 1rem;
    padding: 2.25rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  background: url("../assets/Images/hero-bio.jpg") center center/cover;
  width: 100%;
  height: 225px;
}
.hero__overlay {
  display: flex;
  align-items: center;
  z-index: 1;
  background: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 225px;
}
.hero__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    background: url("../assets/Images/hero-bio.jpg") center center/cover;
    width: 100%;
    height: 700px;
  }
  .hero__overlay {
    display: flex;
    align-items: center;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .hero__text {
    color: #fff;
    font-size: 8vw;
    font-weight: bold;
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    padding-left: 140px;
    font-size: 4.25vw;
  }
}

.about__container {
  padding: 0 1rem 0 1rem;
}
.about__image {
  width: 100%;
}
.about__header {
  color: #323232;
  padding: 1.5rem 0px 1rem 1rem;
}
.about__quote {
  padding: 0.875rem 0;
  font-weight: 600;
  color: #323232;
  line-height: 22px;
}
.about__quote-attrib {
  font-weight: 600;
  font-size: 0.875rem;
  padding-bottom: 2rem;
  color: #323232;
}
.about__subheader {
  font-size: 0.875rem;
  font-weight: 600;
}
.about__para-one, .about__para-two {
  font-size: 0.875rem;
  line-height: 18px;
}
.about__para-one {
  padding: 1rem 0;
}
.about__para-two {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__header {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 4.68vw;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .about__image {
    width: 100%;
    height: 500px;
  }
  .about__quote {
    padding: 2.25rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .about__quote-attrib {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .about__subheader {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3rem 0 2.25rem 0;
  }
  .about__para-container {
    display: flex;
    flex-direction: row;
  }
  .about__para-one, .about__para-two {
    line-height: 18px;
  }
  .about__para-one {
    padding: 0 1rem 1rem 0;
  }
  .about__para-two {
    padding: 0 0 1rem 1rem;
  }
}
@media (min-width: 1280px) {
  .about__header {
    padding: 3rem 2.25rem 2.25rem 9.75rem;
    font-size: 3vw;
  }
  .about__container {
    width: 70%;
  }
  .about__quote {
    padding-bottom: 1rem;
  }
  .about__quote-attrib {
    padding-bottom: 0;
  }
  .about__para-one, .about__para-two {
    line-height: 22px;
    padding-bottom: 2.25rem;
  }
}

.photo-gallery {
  width: 100%;
  background: #fafafa;
}
.photo-gallery__header {
  color: #323232;
  padding: 1.5rem 1rem 1rem 1rem;
}
.photo-gallery__picture {
  padding: 0 1rem 0.75rem 1rem;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 0.25s;
}
.photo-gallery__picture:hover {
  filter: none;
  transition: 0.25s;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding: 2.25rem 0px 2.25rem 1rem;
  }
  .photo-gallery__header {
    font-size: 4.68vw;
  }
  .photo-gallery__container {
    display: flex;
    flex-wrap: wrap;
  }
  .photo-gallery__picture {
    padding: 1rem 0 1rem 1rem;
    width: 32%;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 2.25rem 5.62rem 2.25rem 8.75rem;
  }
  .photo-gallery__header {
    padding: 2rem 1rem 1rem 0;
    font-size: 3vw;
  }
  .photo-gallery__picture {
    padding: 1rem 1rem 0px 0px;
  }
}

.business-info {
  font-weight: bold;
  background: #323232;
  color: #fff;
  height: 100%;
  padding: 1rem 0px 1rem 1rem;
  margin: 0;
}
.business-info__socials-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.business-info__header {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: bold;
}
.business-info__link {
  box-sizing: content-box;
  padding-top: 1rem;
  margin-right: 1.25rem;
  width: 30px;
  height: 30px;
}
.business-info__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.business-info__name {
  font-size: 0.875rem;
  line-height: 22px;
  padding-top: 1rem;
  font-weight: 600;
}
.business-info__details, .business-info__email {
  padding-top: 1rem;
  line-height: 18px;
  font-size: 0.812rem;
  font-weight: normal;
}
.business-info__email-link {
  color: #fff;
}
.business-info__email-link:hover {
  font-weight: 600;
}
@media (min-width: 768px) {
  .business-info {
    position: relative;
    padding-left: 2.25rem;
  }
  .business-info__header {
    font-size: 2.25rem;
  }
  .business-info__link {
    width: 30px;
    height: 25px;
  }
  .business-info__email-link:hover, .business-info__email:hover {
    font-weight: normal;
  }
  .business-info__email:hover {
    transform: scale(1.1, 1.1);
  }
  .business-info__email-link .business-info__socials-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .business-info__socials {
    padding-left: 3.12rem;
  }
  .business-info__contact {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1rem;
  }
  .business-info__pearl {
    padding: 0 70px;
  }
}
@media (min-width: 1280px) {
  .business-info {
    padding: 1rem 0px 1rem 0;
  }
  .business-info__header {
    padding-left: 8.75rem;
  }
  .business-info__socials {
    padding-left: 3.12rem;
  }
  .business-info__contact {
    padding-left: 8.75rem;
  }
}

.logo {
  padding: 3.75rem 0 1.5rem 0;
  max-height: 20px;
  max-width: 120px;
}
@media (min-width: 768px) {
  .logo {
    position: absolute;
    top: 45px;
    right: 3.25%;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .logo {
    position: absolute;
    top: 45px;
    right: 10.5%;
    padding: 0;
  }
}

.copy-right {
  padding-top: 1rem;
  font-size: 0.6875rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .copy-right {
    padding-top: 2rem;
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .copy-right {
    padding: 2.875rem 0 1rem 8.75rem;
  }
}/*# sourceMappingURL=bio.css.map */