@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/utilities" as *;
@use "./partials/mixins" as *;
@use "./partials/media-queries" as *;

// Header styles
.header {
  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $BandSite-Black;
    width: 100%;
    font-weight: normal;
  }

  &__title-container {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
  }

  &__logo {
    width: 120px;
  }

  &__menu {
    display: flex;
  }

  &__link {
    color: $Mercury;
    width: 50%;
    text-align: center;
    padding: 1rem;

    &:hover {
      border-bottom: 4px solid $white;
      color: $white;
    }
  }

  &__link--active {
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 4px solid $white;
  }

  &__link-text {
    color: $Mercury;

    &--active {
      color: $white;
      font-weight: bold;
    }
  }

  @include tablet {
    @include tablet-header();
  }

  @include desktop {
    @include desktop-header();
  }
}

.hero {
  display: flex;
  align-items: center;
  background: url("../assets/Images/hero-bio.jpg") center center/ cover;
  width: 100%;
  height: 225px;

  &__overlay {
    display: flex;
    align-items: center;
    z-index: 1;
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 225px;
  }
  &__text {
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
    padding-left: 1rem;
  }

  // hero tablet
  @include tablet {
    @include tablet-hero();
  }

  @include desktop {
    @include desktop-hero();
  }
}

.about {
  &__container {
    padding: 0 1rem 0 1rem;
  }

  &__image {
    width: 100%;
  }

  &__header {
    color: $BandSite-Black;
    padding: 1.5rem 0px 1rem 1rem;
  }

  &__quote {
    padding: 0.875rem 0;
    font-weight: 600;
    color: $BandSite-Black;
    line-height: 22px;
  }

  &__quote-attrib {
    font-weight: 600;
    font-size: 0.875rem;
    padding-bottom: 2rem;
    color: $BandSite-Black;
  }
  &__subheader {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__para-one,
  &__para-two {
    font-size: 0.875rem;
    line-height: 18px;
  }

  &__para-one {
    padding: 1rem 0;
  }

  &__para-two {
    padding-bottom: 1rem;
  }

  @include tablet {
    @include tablet-about();
  }

  @include desktop {
    @include desktop-about();
  }
}

.photo-gallery {
  width: 100%;
  background: $Alabaster;

  &__header {
    color: $BandSite-Black;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  &__picture {
    padding: 0 1rem 0.75rem 1rem;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.25s;

    &:hover {
      filter: none;
      transition: 0.25s;
    }
  }

  @include tablet {
    @include tablet-photo-gallery();
  }

  @include desktop {
    @include desktop-photo-gallery();
  }
}

.business-info {
  font-weight: bold;
  background: $BandSite-Black;
  color: $white;
  height: 100%;
  padding: 1rem 0px 1rem 1rem;
  margin: 0;

  &__socials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: bold;
  }

  &__link {
    box-sizing: content-box;
    padding-top: 1rem;
    margin-right: 1.25rem;
    width: 30px;
    height: 30px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 16px;
  }

  &__name {
    font-size: 0.875rem;
    line-height: 22px;
    padding-top: 1rem;
    font-weight: 600;
  }

  &__details,
  &__email {
    padding-top: 1rem;
    line-height: 18px;
    font-size: 0.812rem;
    font-weight: normal;
  }

  &__email-link {
    color: $white;

    &:hover {
      font-weight: 600;
    }
  }

  @include tablet {
    @include tablet-business-info();
  }

  @include desktop {
    @include desktop-business-info();
  }
}

.logo {
  padding: 3.75rem 0 1.5rem 0;
  max-height: 20px;
  max-width: 120px;

  @include tablet {
    @include tablet-logo();
  }

  @include desktop {
    @include desktop-logo();
  }
}

.copy-right {
  padding-top: 1rem;
  font-size: 0.6875rem;
  font-weight: normal;

  @include tablet {
    @include tablet-copy-right();
  }

  @include desktop {
    @include desktop-copy-right();
  }
}

// sect header txt size 24px, LH 32px, wgt Bold 700

// sub header txt size 14px, LH: 22px, wgt Demi 600

// body/footer txt size 13px, LH 18px, wgt reg 400
