@use "./partials/global" as *;
@use "./partials/header-footer.scss" as *;
@use "./partials/typography" as *;
@use "./partials/utilities" as *;
@use "./partials/mixins" as *;
@use "./partials/media-queries" as *;

.hero {
  font-family: "AvenirNext LT Pro";
  display: flex;
  align-items: center;
  background: url("../assets/Images/hero-bio.jpg") center center/ cover;
  width: 100%;
  height: 225px;

  &__overlay {
    display: flex;
    align-items: center;
    z-index: 1;
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 225px;
  }
  &__text {
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
    padding-left: 1rem;
  }

  // hero tablet
  @include tablet {
    @include tablet-hero();
  }

  @include desktop {
    @include desktop-hero();
  }
}

.about {
  font-family: "AvenirNext LT Pro";
  &__container {
    padding: 0 1rem 0 1rem;
  }

  &__image {
    width: 100%;
  }

  &__header {
    color: $BandSite-Black;
    padding: 1.5rem 0px 1rem 1rem;
  }

  &__quote {
    padding: 0.875rem 0;
    font-weight: 600;
    color: $BandSite-Black;
    line-height: 22px;
  }

  &__quote-attrib {
    font-weight: 600;
    font-size: 0.875rem;
    padding-bottom: 2rem;
    color: $BandSite-Black;
  }
  &__subheader {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__para-one,
  &__para-two {
    font-size: 0.875rem;
    line-height: 18px;
  }

  &__para-one {
    padding: 1rem 0;
  }

  &__para-two {
    padding-bottom: 1rem;
  }

  @include tablet {
    @include tablet-about();
  }

  @include desktop {
    @include desktop-about();
  }
}

.photo-gallery {
  font-family: "AvenirNext LT Pro";
  width: 100%;
  background: $Alabaster;

  &__header {
    color: $BandSite-Black;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  &__picture {
    padding: 0 1rem 0.75rem 1rem;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.25s;

    &:hover {
      filter: none;
      transition: 0.25s;
    }
  }

  @include tablet {
    @include tablet-photo-gallery();
  }

  @include desktop {
    @include desktop-photo-gallery();
  }
}

//  Comments Section
.comments {
  font-family: "AvenirNext LT Pro";
  padding: 1.5rem 1rem 1rem 1rem;

  &__header {
    color: $BandSite-Black;
    font-size: 7vw;
  }

  &__main-container {
    display: flex;
    width: 100%;
  }

  &__form-label {
    padding: 7px 0;
    color: $silver;
    font-weight: 600;
  }

  &__comment-icon {
    max-width: 36px;
    max-height: 36px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // margin-bottom: -50px;
    margin-top: 43px;
  }

  &__form-container {
    width: 100%;
    padding-left: 16px;
    padding-top: 16px;
  }

  &__name-field {
    margin-bottom: 20px;
  }

  &__name-field,
  &__comment-field {
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    margin-top: 7px;
    // vertical-align: top;
    // text-align: left;
    min-height: 2.25rem;
    width: 100%;
    border: 1px solid $Mercury;
    border-radius: 4px;
    padding: 12px;
    background: $Alabaster;
    color: $BandSite-Black;
    font-weight: 600;
  }

  &__name-field::placeholder,
  &__comment-field::placeholder,
  &__comment-field::-webkit-input-placeholder {
    font-family: "AvenirNext LT Pro";
    color: $BandSite-Black;
  }

  &__name-field:focus,
  &__comment-field:focus {
    border: 1px solid $BandSite-Black;
    // -webkit-border: 1px solid $BandSite-black;
    // -moz-border: 1px solid $BandSite-Black;
  }
  &__error {
    border: 1px solid #d22d2d;
  }

  &__comment-field {
    font-family: "AvenirNext LT Pro";
    height: 100px;
    width: 100%;
    resize: none;
  }

  &__submit-btn {
    margin: 16px 0;
    width: 100%;
    padding: 16px;
    background: $BandSite-Black;
    color: $white;
    border-radius: 4px;
    border: none;
    font-size: 24px;
  }

  &__submit-btn:hover {
    background: $BandSite-DarkBlack;
  }

  @include tablet {
    @include tablet-comments();
  }

  @include desktop {
    @include desktop-comments();
  }
}

// Comments Archieve

.comments-archieve {
  font-family: "AvenirNext LT Pro";
  &__hr {
    width: 100%;
    border: 1px solid $Mercury;
    margin-bottom: 16px;
  }

  &__comment {
    display: flex;
    // flex-direction: column;
    padding: 0;
  }

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    // background:
    //   url("../assets/Images/Mohan-muruge.jpg");
    border-radius: 50%;
    border: none;
  }

  &__text {
    max-width: 80vw;
    word-wrap: break-word;
  }

  &__text,
  &__name-date {
    padding-left: 16px;
    padding-bottom: 16px;
  }

  &__com-container {
    width: 100%;
  }

  &__name-date {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    font-weight: 600;
  }

  &__span-right {
    color: $silver;
    text-align: right;
  }

  @include tablet {
    @include tablet-comments-archieve();
  }

  @include desktop {
    @include desktop-comments-archieve();
  }
}

// // Footer
// .business-info {
//   font-family: "AvenirNext LT Pro";
//   font-weight: bold;
//   background: $BandSite-Black;
//   color: $white;
//   height: 100%;
//   padding: 1rem 0px 1rem 1rem;
//   margin: 0;

//   &__socials-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }

//   &__header {
//     padding-top: 1.5rem;
//     font-size: 1.5rem;
//     line-height: 32px;
//     font-weight: bold;
//   }

//   &__link {
//     box-sizing: content-box;
//     padding-top: 1rem;
//     margin-right: 1.25rem;
//     width: 30px;
//     height: 30px;
//   }

//   &__contact {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // padding-top: 16px;
//   }

//   &__name {
//     font-size: 0.875rem;
//     line-height: 22px;
//     padding-top: 1rem;
//     font-weight: 600;
//   }

//   &__details,
//   &__email {
//     padding-top: 1rem;
//     line-height: 18px;
//     font-size: 0.812rem;
//     font-weight: normal;
//   }

//   &__email-link {
//     color: $white;

//     &:hover {
//       font-weight: 600;
//     }
//   }

//   @include tablet {
//     @include tablet-business-info();
//   }

//   @include desktop {
//     @include desktop-business-info();
//   }
// }

// .logo {
//   padding: 3.75rem 0 1.5rem 0;
//   max-height: 20px;
//   max-width: 120px;

//   @include tablet {
//     @include tablet-logo();
//   }

//   @include desktop {
//     @include desktop-logo();
//   }
// }

// .copy-right {
//   font-family: "AvenirNext LT Pro";
//   padding-top: 1rem;
//   font-size: 0.6875rem;
//   font-weight: normal;

//   @include tablet {
//     @include tablet-copy-right();
//   }

//   @include desktop {
//     @include desktop-copy-right();
//   }
// }
