@use "./bio.scss" as *;
@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/utilities" as *;
@use "./partials/mixins" as *;
@use "./partials/media-queries" as *;

.hero {
  background: url("../assets/Images/hero-shows.jpg") center center/cover;
  height: 325px;

  &__overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 1.25rem;
    height: 100%;
  }

  &__sub-title,
  &__main-title {
    color: $white;
  }

  &__sub-title {
    font-size: 4vw;
    padding: 1.25rem 0 1.25rem 0;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__main-title {
    font-size: 7.25vw;
    font-weight: bold;
    line-height: 32px;
  }

  &__iframe {
    padding-top: 1.25rem;
  }
}

.shows {
  width: 100%;

  &__title {
    font-size: 7vw;
    padding-bottom: 1.75rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
  }

  &__show {
    color: #fff;
  }

  &__sub-header-date,
  &__sub-header-venue,
  &__sub-header-location {
    color: $silver;
    font-weight: 600;
    font-size: 5vw;
  }

  &__spec-date {
    color: $BandSite-Black;
    font-weight: 700;
    padding: 1rem 0 1.5rem 0;
    font-size: 6vw;
  }

  &__show-info-city,
  &__show-info-venue {
    color: $BandSite-Black;
    font-weight: 600;
    padding: 1rem 0 1.5rem 0;
    font-size: 5vw;
  }

  &__ticket-btn {
    background: $BandSite-Black;
    color: $white;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    border: $BandSite-Black;

    margin-bottom: 1rem;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__ticket-btn:hover {
    background: $BandSite-DarkBlack;
  }

  &__divider {
    width: 120%;
    border-bottom: 2px solid $Mercury;
    margin-bottom: 1rem;
    margin-left: -1rem;
  }
}
